{
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    // "extends": "standard",
    "plugins": ["html", "markdown"],
    "rules": {
        "semi": 0,
        "indent": ["error", "tab"],
        "no-tabs": 0
    }
}